LLM_PROVIDER=<TU_LLM_PROVIDER>
OPENAI_API_KEY=<TU_API_KEY>
LLM_ENDPOINT=<TU_LLM_ENDPOINT>
MODEL=<TU_MODELO>

GARMIN_EMAIL=<TU_CORREO_DE_GARMIN>
GARMIN_PASSWORD=<TU_PASS_DE_GARMIN>

DATABASE_URL=postgresql+psycopg://ai_coach:ai_coach@localhost:5432/ai_coach